<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InkRealm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InkRealmMVC.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png" asp-append-version="true">
</head>
<body>
    @{
        IReadOnlyList<string> NAV_BAR_BTNS_NAMES = new List<string>() { "Студии", "Услуги", "Мастера", "Магазин", "Приватность" };
    }
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="col-3 navbar-brand main-name fs-1" asp-controller="Home" asp-action="Index">Ink Realm</a>
                <div class="col-6 navbar-collapse">
                    <div class="navbar-nav align-content-sm-center">
                        @foreach (var name in NAV_BAR_BTNS_NAMES)
                        {
                            <a class="nav-item nav-link maintext fs-2 p-1 ms-lg-3 me-lg-3 m-sm-2 text-sm-center text-md-center" href="#">
                                <strong>@name</strong>
                            </a>
                        }
                        <button class="col-lg-3 nav-item ms-lg-5 btn-danger">
                            <a class="nav-item nav-link maintext fs-2 p-1 text-sm-center text-md-center" asp-controller="Auth" asp-action="Login">
                                <img class="rounded-1" style="max-height:40px;" src="/img/app_img/user_icon.png" />
                                <strong>Войти</strong>
                            </a>
                        </button>
                        
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a class="col navbar-brand main-name fs-6" asp-controller="Home" asp-action="Index">Ink Realm @DateTime.Now.Year</a>
            <a class="col mt-2 float-end btn btn-outline-dark" asp-controller="Auth" asp-action="Login"> Зона для сотрудников</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/ts/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
