@model ProductAppend
@{
    ViewData["Title"] = "Добавить новый продукт";
}

<div class="row">
    <div class="col">
        <form class="form-group" asp-action="AddNewProduct" asp-controller="Master" method="post" enctype="multipart/form-data">
            <label class="form-label">Введите название продукта*</label>
            <input class="form-control" type="text" asp-for="Title" />

            <label class="form-label">Введите описание продукта</label>
            <input class="form-control" type="text" asp-for="Description" />

            <label class="form-label">Введите цену за данный товар*</label>
            <input class="form-control mb-3" type="number" min="0" asp-for="EachPrice" />

            <input class="row mt-3 mb-2 form-control" type="file" asp-for="Photo" />

            <input class="form-control btn btn-primary" type="submit" />
        </form>
    </div>
</div>
