@model ClientSpaceModel
@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var client = Model.Client;
}

<div class="col">
    <p>Ваша почта:@client.Email</p>
</div>


@section Scripts{
    <link rel="stylesheet" href="~/css/client_space.css" asp-append-version="true" />
}

