@{
    ViewData["Title"] = "Политика приватности";
}
<h1>@ViewData["Title"]</h1>

<p>Ваша информация защищена, мы не распространяем её, хранимые данные о Ваших покупках удаляются спустя короткое время. Спасибо, что выбрали наш сервис!</p>
