@model ShopModel
@{
    ViewData["Title"] = "Магазин";
    var products = Model.AllProducts;
}
<div class="col">
    <div class="row">
        <div class="row">
            <input class="col-lg-10 me-lg-4" type="text" placeholder="Введите название или описание товара, что Вы ищете" aria-describedby="basic-addon1" />
            <button class="btn btn-primary col">Поиск</button>
        </div>
        
        @if (products.Any())
        {
            foreach (var p in products)
            {
                <div class="col-3 card me-3 mt-3 mb-2">
                    @if (!string.IsNullOrEmpty(p.PhotoLink))
                    {
                        <img class="card-img-top" src=@p.PhotoLink style="max-height:200px;max-width:200px;"/>
                    }
                    <div class="card-body">
                        <p class="card-title fw-bold h3">@p.Title</p>
                        @if (!string.IsNullOrEmpty(p.Description))
                        {
                            <p class="card-text p-3">@p.Description</p>
                        }
                        <p class="card-text">Цена: <strong class="text-success">@p.EachPrice ₽</strong></p>
                        <button class="btn btn-success">Добавить в корзину</button>
                    </div>
                    @if (User.IsInRole(Role.InkClient))
                    {
                        string prodId = $"product {p.ProductId}";
                        <button id=@prodId>Купить</button>
                    }
                </div>
            }
        }
    </div>
</div>

@section Scripts{

}