html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
    font-family: "ExtraOrnamentalNo2";
    src: url(/fonts/ExtraOrnamentalNo2.ttf);
}

@font-face {
    font-family: "FrenchKiss";
    src: url(/fonts/FrenchKissscript.ttf)
}

@font-face {
    font-family: "Street";
    src: url(/fonts/DocallismeOnStreet.ttf)
}

@font-face {
    font-family: "MultiRoundPro";
    src: url(/fonts/MultiroundPro.otf);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-name{
    font-family: 'ExtraOrnamentalNo2';
    color: black;
}

.maintext {
    font-family: 'FrenchKiss';
}

.street-text {
    font-family: Street, Arial;
}

.multiround-text{
    font-family: MultiRoundPro;
}


